{{define "content"}}
{{template "hx-context.html" .}}
{{- if .HasQuery "edit"}}
<h5>Update Author</h5>
<form hx-put="authors/{id}" hx-target="#messages">            
    <div class="mb-3">
        <label for="name" class="form-label">Name *</label>
        <input id="name" required name="name" type="text"{{if .Data.Name}} value="{{.Data.Name}}"{{end}} class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <input id="bio"  name="bio" type="text"{{if .Data.Bio}} value="{{.Data.Bio}}"{{end}} class="form-control"/>
    </div>
    <div class="mb-3">
        <div class="col-sm-4 col-md-2">
            <label for="birth_date" class="form-label">Birth Date</label>
            <input id="birth_date"  name="birth_date" type="date" class="form-control"{{if .Data.BirthDate}} value="{{.Data.BirthDate.Format "2006-01-02"}}"{{end}}/>
        </div>
    </div>
    <input type="hidden" name="id" value="{{.Data.ID}}">
    <div class="p-3">
        <button class="btn btn-primary" type="submit">Update</button>
        <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back()">Back</button>
    </div>
    
</form>
<script>
    htmx.on("htmx:configRequest", replacePathParams)
</script>
{{- else -}}
<div class="col mb-5">
    <div class="row">
        <div class="col">
            <p><b>ID:</b> {{.Data.ID}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>Name:</b> {{.Data.Name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>Bio:</b> {{.Data.Bio}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>Birth Date:</b> {{.Data.BirthDate}}</p>
        </div>
    </div>
</div>
{{- end -}}
{{end}}