
<ul id="authors" class="dropdown-content">
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/create_author">Create Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/delete_author">Delete Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/get_author">Get Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/list_authors">List Authors</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/update_author">Update Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/update_author_bio">Update Author Bio</a></li>
  
</ul>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" hx-get="/" hx-push-url="true" class="brand-logo">{{.Title}}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li></li>
      <li><a hx-get="/" hx-push-url="true" ><i class="material-icons left">home</i>Home</a></li>
      <li><a href="web/swagger" >Swagger UI</a></li>
      
      <li><a class="dropdown-trigger" href="javascript: void(0)" data-target="authors">Authors<i class="material-icons right">arrow_drop_down</i></a></li>        
      </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a hx-get="/" hx-push-url="true"><i class="material-icons left">home</i>Home</a></li>
  <li><a href="web/swagger" >Swagger UI</a></li>
  
  <li><div class="divider"></div></li>
  <li><a class="subheader">authors</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/create_author">Create Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/delete_author">Delete Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/get_author">Get Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/list_authors">List Authors</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/update_author">Update Author</a></li>
  
  <li><a href="javascript: void(0)" hx-push-url="true" hx-get="app/authors/update_author_bio">Update Author Bio</a></li>
  
  
</ul>