{{"{{"}}define "content"{{"}}"}}
<div class="col">
    {{"{{"}}template "hx-context.html" .{{"}}"}}
    <h5>{{.Title}}</h5>
    {{if .AutoSubmit}}
    <div hx-trigger="load" {{.HtmxCall true}} hx-target="#response"></div>
    {{else}}                   
    <form {{.HtmxCall true}} hx-target="#response">
        {{range .HtmlInput}}{{.}}
        {{end}}
        <div class="p-3">
            <button class="btn btn-primary" type="submit">{{.ActionLabel}}</button>
            <button type="button" class="btn btn-secondary" onclick="javascript:window.history.back()">Back</button>
        </div>
    </form> 
    <div class="divider"></div>
    {{end}}        
    <div id="response"></div>
{{if .HasPathParam}}
    <script>
        htmx.on("htmx:configRequest", replacePathParams)
    </script>
{{end -}}
</div>
{{"{{"}}end{{"}}"}}