{{define "content"}}
<div class="col">
    {{template "hx-context.html" .}}  
    <h5>Get Author</h5>
                       
    <form hx-get="authors/{id}?nested=true" hx-target="#response">
        <div class="row">
            <div class="input-field col s12">
                <input id="id" required name="id" type="number" class="validate"/>
                <label for="id">Id *</label>
            </div>
        </div>
        
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Search<i class="material-icons right">send</i></button>
            <button class="waves-effect waves-light btn" type="button"
                onclick="javascript:window.history.back()">Back</button>
        </div>
    </form> 
    <div class="divider"></div>
            
    <div id="response"></div>

    <script>
        htmx.on("htmx:configRequest", replacePathParams)
    </script>
</div>
{{end}}