tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
}
