{{"{{"}}define "content"{{"}}"}}
{{"{{"}}template "hx-context.html" .{{"}}"}}
{{if .HasEditService}}{{"{{- "}}if .HasQuery "edit"{{"}}"}}
<h5>{{.EditName}}</h5>
<form {{.EditHtmxCall}} hx-target="#messages">            
    {{range .HtmlInputEdit}}{{.}}
    {{end}}
</form>
<script>
    htmx.on("htmx:configRequest", replacePathParams)
</script>
{{"{{- "}}else{{" -}}"}}
{{range .HtmlOutput}}{{.}}
{{end -}}
{{"{{- "}}end{{" -}}"}}
{{else}}
{{- if .Service | HasPagination}}{{"{{"}}$pagination := .Pagination{{"}}"}}{{"{{"}}if $pagination{{"}}"}}
<div id="table_response">
{{"{{"}}end{{"}}"}}{{- end -}}
    {{range .HtmlOutput}}{{.}}
    {{end -}}
    {{if .Service | HasPagination}}{{"{{"}}if $pagination{{"}}"}}
    {{range .HtmlPagination "#table_response"}}{{.}}
    {{end -}}    
</div>
{{"{{"}}end{{"}}"}}
{{- end -}}
{{- end -}}
{{"{{"}}end{{"}}"}}