openapi: 3.0.3
info:
  {{if .Info}}{{range .Info}}{{.}}
  {{end}}{{else}}description: {{ .GoModule}} Services
  title: {{ .GoModule}}
  version: 0.0.1
  contact:
    name: sqlc-http
    url: https://github.com/walterwanderley/sqlc-http{{end}}
tags:
  {{if .Tags}}{{range .Tags}}{{.}}
  {{end}}{{else}}{{range .Packages}}- {{.Package}}
  {{end}}{{end}}
paths:
  {{if .UserDefinedPaths}}{{range .UserDefinedPaths}}{{.}}
  {{end}}{{end}}{{range .Packages}}{{$pkg := .Package}}{{range $key, $val := . | GroupByPath}}{{$key}}:
    {{range $val}}{{. | HttpMethod | LowerCase}}:
      {{if .CustomProtoOptions}}{{range .CustomProtoOptions}}{{.}}
      {{end}}{{else}}tags:
        - {{$pkg}}
      summary: {{.Name}}{{end}}
      {{range . | ApiParameters}}{{.}}
      {{end}}
      responses:
        "200":
          description: OK
          {{range . | ApiResponse}}{{.}}
          {{end}}
        "400":    
          description: Bad request
        "500":
          description: Internal server error    
    {{end}}
  {{end}}{{end}}
components:
  schemas: 
    {{range .Packages}}{{range . | ApiComponentSchemas}}{{.}}
    {{end}}{{end}}
{{range .ExtraDefinitions}}{{.}}
{{end}}