openapi: 3.0.3
info:
  description: booktest Services
  title: booktest
  version: 0.0.1
  contact:
    name: sqlc-http
    url: https://github.com/walterwanderley/sqlc-http
tags:
  - books
  
paths:
  /author:
    post:
      tags:
        - books
      summary: CreateAuthor
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/booksAuthor"
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  /author/{author_id}:
    get:
      tags:
        - books
      summary: GetAuthor
      parameters:
        - name: author_id
          in: path
          schema:
            type: integer
            format: int32
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/booksAuthor"
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  /book:
    post:
      tags:
        - books
      summary: CreateBook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                author_id:
                  type: integer
                  format: int32
                isbn:
                  type: string
                book_type:
                  type: string
                title:
                  type: string
                year:
                  type: integer
                  format: int32
                available:
                  type: string
                  format: date-time
                tags:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                author_id:
                  type: integer
                  format: int32
                isbn:
                  type: string
                book_type:
                  type: string
                title:
                  type: string
                year:
                  type: integer
                  format: int32
                available:
                  type: string
                  format: date-time
                tags:
                  type: string
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/booksBook"
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    put:
      tags:
        - books
      summary: UpdateBook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                tags:
                  type: string
                book_type:
                  type: string
                book_id:
                  type: integer
                  format: int32
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                tags:
                  type: string
                book_type:
                  type: string
                book_id:
                  type: integer
                  format: int32
      
      responses:
        "200":
          description: OK
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  /book-isbn:
    put:
      tags:
        - books
      summary: UpdateBookISBN
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                tags:
                  type: string
                book_id:
                  type: integer
                  format: int32
                isbn:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                tags:
                  type: string
                book_id:
                  type: integer
                  format: int32
                isbn:
                  type: string
      
      responses:
        "200":
          description: OK
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  /book/{book_id}:
    delete:
      tags:
        - books
      summary: DeleteBook
      parameters:
        - name: book_id
          in: path
          schema:
            type: integer
            format: int32
      
      responses:
        "200":
          description: OK
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    get:
      tags:
        - books
      summary: GetBook
      parameters:
        - name: book_id
          in: path
          schema:
            type: integer
            format: int32
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/booksBook"
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  /books-by-title-year:
    get:
      tags:
        - books
      summary: BooksByTitleYear
      parameters:
        - name: title
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: integer
            format: int32
      
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/booksBook"
          
        "default":    
          description: Error message
          content:
            text/plain:
              schema:
                type: string  
    
  
components:
  schemas:
    booksAuthor:
      type: object
      properties:
        author_id:
          type: integer
          format: int32
        name:
          type: string
    booksBook:
      type: object
      properties:
        book_id:
          type: integer
          format: int32
        author_id:
          type: integer
          format: int32
        isbn:
          type: string
        book_type:
          type: string
        title:
          type: string
        year:
          type: integer
          format: int32
        available:
          type: string
          format: date-time
        tags:
          type: string
    booksBooksByTagsRow:
      type: object
      properties:
        book_id:
          type: integer
          format: int32
        title:
          type: string
        name:
          type: string
        isbn:
          type: string
        tags:
          type: string
    
  
