{{define "content"}}
{{if not (eq (.Query "nested") "true")}}
<div class="col">
{{template "hx-context.html" .}}
{{end}}

{{$pagination := .Pagination}}
    {{if $pagination}}
<div id="table_response">
{{end}}<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" hx-get="app/authors/create_author" hx-push-url="true">add</i></a>
</div>
<div class="col s12">
<table>
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Created At</th>
        <th></th> <!-- Ações -->
    </tr></thead>
    <tbody>
        {{range $i, $v := .Data}}<tr id="row_{{$i}}">
        <td>{{$v.ID}}</td>
        <td>{{$v.Name}}</td>
        <td>{{$v.Bio}}</td>
        <td>{{if $v.CreatedAt}}{{$v.CreatedAt.Format "02/01/2006"}}{{end}}</td>
        <td>
            <a class="btn-floating btn-small waves-effect waves-light blue" 
  	href="javascript: void(0)" hx-push-url="true" hx-get="authors/{{$v.ID}}"><i class="material-icons">visibility</i></a>
            <a class="btn-floating btn-small waves-effect waves-light green" 
  	href="javascript: void(0)" hx-push-url="true" hx-get="authors/{{$v.ID}}?edit"><i class="material-icons">edit</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red" 
  	href="javascript: void(0)" hx-delete="authors/{{$v.ID}}" hx-swap="outerHTML"
	hx-target="#row_{{$i}}" hx-confirm="Are you shure?"><i class="material-icons">delete</i></a>
        </td>
        </tr>{{end}}
    </tbody>
</table>
</div>
    
    {{$pagination := .Pagination}}
    {{if $pagination}}
    <ul class="pagination">
        <li class="{{if eq $pagination.Offset 0}}disabled{{else}}waves-effect{{end}}">
            <a href="javascript: void(0)" hx-get="{{$pagination.URL $pagination.Limit $pagination.Prev}}" hx-target="#table_response"><i class="material-icons">chevron_left</i></a></li>
        <li>
            <select name="limit" hx-get="{{$pagination.URL -1 $pagination.Offset}}" hx-target="#table_response">
                <option value="10" {{if eq $pagination.Limit 10}}selected{{end}}>10 items</option>
                <option value="20" {{if eq $pagination.Limit 20}}selected{{end}}>20 items</option>
                <option value="30" {{if eq $pagination.Limit 30}}selected{{end}}>30 items</option>
            </select>            
        </li>
        <li class="active">{{$pagination.From}} - {{$pagination.To}}</li>
        <li class="waves-effect">
            <a href="javascript: void(0)" hx-get="{{$pagination.URL $pagination.Limit $pagination.Next}}" hx-target="#table_response"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
{{end}}{{if not (eq (.Query "nested") "true")}}
</div>
{{end}}
{{end}}