{{define "content"}}
{{template "hx-context.html" .}}
{{$pagination := .Pagination}}{{if $pagination}}
<div id="table_response">
{{end}}<div class="p-3">
        <a role="button" class="btn btn-success" hx-get="app/authors/create_author" hx-push-url="true"><i class="bi bi-plus">Create Author</i></a>
    </div>
    <div class="col-sm-12">
    <table class="table table-hover">
        <thead><tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bio</th>
            <th>Created At</th>
            <th></th> <!-- Actions -->
        </tr></thead>
        <tbody>
            {{range .Data}}<tr scope="row">
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.Bio}}</td>
            <td>{{if .CreatedAt}}{{.CreatedAt.Format "02/01/2006"}}{{end}}</td>
            <td>
                <a class="btn btn-outline-primary" href="javascript: void(0)" hx-push-url="true" hx-get="authors/{{.ID}}"><i class="bi bi-eye"></i></a>
                <a class="btn btn-outline-secondary" href="javascript: void(0)" hx-push-url="true" hx-get="authors/{{.ID}}?edit"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-outline-danger" href="javascript: void(0)" hx-delete="authors/{{.ID}}" hx-swap="outerHTML swap:1s" hx-target="closest tr" hx-confirm="Are you shure?"><i class="bi bi-trash"></i></a>
            </td>
            </tr>{{end}}
        </tbody>
    </table>
    </div>
    {{if $pagination}}
    <nav aria-label="Page navigation" hx-target="#table_response" hx-swap="outerHTML">
        <ul class="pagination justify-content-center">
            <li class="page-item{{if eq $pagination.Offset 0}} disabled{{end}}">
                <a class="page-link" href="javascript: void(0)" hx-get="{{$pagination.URL $pagination.Limit $pagination.Prev}}"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item">
                <p class="page-link">{{$pagination.From}} - {{$pagination.To}}</p>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript: void(0)" hx-get="{{$pagination.URL $pagination.Limit $pagination.Next}}"><span aria-hidden="true">&raquo;</span></a>
            </li>
            <li class="page-item">
                <select class="form-select" name="limit" hx-get="{{$pagination.URL -1 $pagination.Offset}}">
                    <option value="10" {{if eq $pagination.Limit 10}}selected{{end}}>10 items</option>
                    <option value="25" {{if eq $pagination.Limit 25}}selected{{end}}>25 items</option>
                    <option value="50" {{if eq $pagination.Limit 50}}selected{{end}}>50 items</option>
                </select>
            </li>
        </ul>
    </nav>
    </div>
{{end}}{{end}}