{{define "content"}}
{{template "hx-context.html" . -}}
<h5>Create Author</h5>
<form hx-post="authors" hx-target="#response">
    <div class="mb-3">
        <label for="name" class="form-label">Name *</label>
        <input id="name" required name="name" type="text" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <select id="bio" name="bio" class="form-select">
            <option value=""></option>
            {{range .Data.Bio}}
            <option value="{{.ID}}">{{.Text}}</option>
            {{end}}
        </select>
    </div>
    <div class="mb-3">
        <div class="col-sm-4 col-md-2">
            <label for="birth_date" class="form-label">Birth Date</label>
            <input id="birth_date"  name="birth_date" type="date" class="form-control"/>
        </div>
    </div>
    <div class="p-3">
        <button class="btn btn-primary" type="submit">Insert</button>
        <button type="button" class="btn btn-secondary" onclick="javascript:window.history.back()">Back</button>
    </div>
    
</form> 
<hr class="hr" />
<div id="response"></div>
{{end}}